/* 
    Filename: CalendarTheme.css
    Created on : Mar 22, 2023, 11:55:58 AM
    Author     : fberkovi
    File Purpose: CSS for Calendar Project
*/

body {
    background-color: lightblue;
    /*opacity:0.5; */
    font-family: Arial, Times, serif;
}

